In [1]:
import pandas as pd

In [2]:
 work = pd.read_csv('cleaned_works.csv',index_col= 0)

In [3]:
work

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,2013.0,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,1943.0,Male,1968,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,1944.0,Male,1968,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857.0,1927.0,Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,1898.0,1986.0,Male,1968,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,1942.0,NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,1882.0,1967.0,Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unknown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,1927.0,NaN,Male,2011,Prints & Illustrated Books

In [4]:
work.shape

(16725, 8)

In [5]:
work.columns

Index(['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender',
       'Date', 'Department'],
      dtype='object')

In [6]:
work.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  float64
 4   EndDate      10474 non-null  float64
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  int64
 7   Department   16725 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.1+ MB

### Fetching Rows and Columns using iloc

In [7]:
# For fetching column # its a series( having 'index'& 'values')
work['Nationality']

0                   American
1                    Spanish
2                     French
3                     French
4                     French
                ...
16720                British
16721                Chilean
16722               American
16723    Nationality Unknown
16724               American
Name: Nationality, Length: 16725, dtype: object

In [8]:
# # For fetching multiple column
work[['Artist','Nationality','Gender']]

                   Artist          Nationality          Gender
0      Sarah Charlesworth             American          Female
1         Pablo Palazuelo              Spanish            Male
2           Maurice Denis               French            Male
3        Aristide Maillol               French            Male
4            Eugène Atget               French            Male
...                   ...                  ...             ...
16720         Henry Moore              British            Male
16721         Juan Baixas              Chilean            Male
16722       Edward Hopper             American            Male
16723             Unknown  Nationality Unknown  Gender Unknown
16724           Alex Katz             American            Male

[16725 rows x 3 columns]

In [9]:
type(work[['Artist','Nationality','Gender']])

pandas.core.frame.DataFrame

In [10]:
work[['Artist','Nationality','Gender']].shape

(16725, 3)

# For row
work.iloc[0]

In [11]:
work.iloc[2]

Title          Tailpiece (page 55) from SAGESSE
Artist                            Maurice Denis
Nationality                              French
BeginDate                                1870.0
EndDate                                  1943.0
Gender                                     Male
Date                                       1968
Department           Prints & Illustrated Books
Name: 2, dtype: object

In [12]:
work.iloc[1:3] # will get 2rows data # fetching 2rows

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,1943.0,Male,1968,Prints & Illustrated Books

In [13]:
work.iloc[1:11:2] # Alternate matches

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,1944.0,Male,1968,Prints & Illustrated Books
5,Pictorial ornament (folio 11) from WOODCUTS,Antonio Frasconi,American,1919.0,2013.0,Male,1957,Prints & Illustrated Books
7,Los Angeles Airport,Garry Winogrand,American,1928.0,1984.0,Male,1968,Photography
9,STILL WATER AND FISH,David Brown Milne,Canadian,1882.0,1953.0,Male,1941,Prints & Illustrated Books

In [14]:
work.iloc[[1,5,6]]

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
5,Pictorial ornament (folio 11) from WOODCUTS,Antonio Frasconi,American,1919.0,2013.0,Male,1957,Prints & Illustrated Books
6,Rue de l'Hôtel-de-Ville,Eugène Atget,French,1857.0,1927.0,Male,1924,Photography

In [15]:
work.iloc[:,[1,5,7]]   # with iloc we can also fetch column

                   Artist          Gender                  Department
0      Sarah Charlesworth          Female  Prints & Illustrated Books
1         Pablo Palazuelo            Male  Prints & Illustrated Books
2           Maurice Denis            Male  Prints & Illustrated Books
3        Aristide Maillol            Male  Prints & Illustrated Books
4            Eugène Atget            Male                 Photography
...                   ...             ...                         ...
16720         Henry Moore            Male        Painting & Sculpture
16721         Juan Baixas            Male       Architecture & Design
16722       Edward Hopper            Male  Prints & Illustrated Books
16723             Unknown  Gender Unknown  Prints & Illustrated Books
16724           Alex Katz            Male  Prints & Illustrated Books

[16725 rows x 3 columns]

### ***Filtering dataframe on a condition***

In [16]:
 work['Nationality'] == 'Spanish' # Boolean series,every value in this series is a boolean value

0        False
1         True
2        False
3        False
4        False
         ...
16720    False
16721    False
16722    False
16723    False
16724    False
Name: Nationality, Length: 16725, dtype: bool

In [17]:
bol = work['Nationality'] == 'Spanish'
work[bol]                               # will put this 'bol variable'on to the actual dataframe

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books
19,Plate (folio 35) from ACORDE,Vicente Rojo,Spanish,1932.0,NaN,Male,1979,Prints & Illustrated Books
48,Double page plate (between pages 96 and 97) fr...,Joan Miró,Spanish,1893.0,1983.0,Male,1966,Prints & Illustrated Books
81,C.N.T. from the portfolio Color Guard Etcetera,Juan Hidalgo,Spanish,1927.0,NaN,Male,1991,Prints & Illustrated Books
111,Plate XLVII from the Barcelona Series,Joan Miró,Spanish,1893.0,1983.0,Male,1944,Prints & Illustrated Books
...,...,...,...,...,...,...,...,...
16438,S.O.S. Smoke Signals from Underground (SOS. Se...,Antoni Llena,Spanish,1942.0,NaN,Male,2016,Drawings
16529,"Montserrat Crying, No. 2",Julio González,Spanish,1876.0,1942.0,Male,1938,Drawings
16540,"A bad night (Mala noche) (plate 36, folio 36) ...",Francisco de Goya,Spanish,1746.0,1828.0,Male,1968,Prints & Illustrated Books
16584,And his house is on fire (Y sele quema la casa...,Francisco de Goya,Spanish,1746.0,1828.0,Male,1968,Prints & Illustrated Books
16650,"Two Figures, Seated",Pablo Picasso,Spanish,1881.0,1973.0,Male,1920,Prints & Illustrated Books

In [18]:
work['Nationality'] == 'Canadian'
work['Gender'] =='Female'

0         True
1        False
2        False
3        False
4        False
         ...
16720    False
16721    False
16722    False
16723    False
16724    False
Name: Gender, Length: 16725, dtype: bool

In [19]:
(work['Nationality']== 'Canadian') & (work['Gender'] == 'Female')

0        False
1        False
2        False
3        False
4        False
         ...
16720    False
16721    False
16722    False
16723    False
16724    False
Length: 16725, dtype: bool

In [20]:
work.loc[(work['Nationality']== 'Canadian') & (work['Gender'] == 'Female')]

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
645,Handtinting,Joyce Wieland,Canadian,1931.0,1998.0,Female,1968,Film
2669,"Frankly, Shirley",Margaret Moores,Canadian,NaN,NaN,Female,1987,Media and Performance Art
4298,Remarkable: Barometric Contortionist,Janice Kerbel,Canadian,1969.0,NaN,Female,2007,Prints & Illustrated Books
4995,Solidarity,Joyce Wieland,Canadian,1931.0,1998.0,Female,1973,Film
5772,Longtime Beauty,Katerina Lanfranco,Canadian,1978.0,NaN,Female,2003,Drawings
6213,Some Call It Bad Luck,Lisa Steele,Canadian,1947.0,NaN,Female,1982,Media and Performance Art
9116,Peggy's Blue Skylight,Joyce Wieland,Canadian,1931.0,1998.0,Female,1964,Film
9346,Monograph (no. 3),Erin Shirreff,Canadian,1975.0,NaN,Female,2012,Photography
9460,Cue (Act 2),Janice Kerbel,Canadian,1969.0,NaN,Female,2012,Prints & Illustrated Books
11024,Knitting Wool Container,Elizabeth McLennan,Canadian,NaN,NaN,Female,1949,Architecture & Design
15980,SIRENSONG,Jan Peacock,Canadian,1955.0,NaN,Female,1987,Media and Performance Art

In [21]:
cate_1 = work.loc[(work['Nationality']== 'Canadian') & (work['Gender'] == 'Female')]
cate_1

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
645,Handtinting,Joyce Wieland,Canadian,1931.0,1998.0,Female,1968,Film
2669,"Frankly, Shirley",Margaret Moores,Canadian,NaN,NaN,Female,1987,Media and Performance Art
4298,Remarkable: Barometric Contortionist,Janice Kerbel,Canadian,1969.0,NaN,Female,2007,Prints & Illustrated Books
4995,Solidarity,Joyce Wieland,Canadian,1931.0,1998.0,Female,1973,Film
5772,Longtime Beauty,Katerina Lanfranco,Canadian,1978.0,NaN,Female,2003,Drawings
6213,Some Call It Bad Luck,Lisa Steele,Canadian,1947.0,NaN,Female,1982,Media and Performance Art
9116,Peggy's Blue Skylight,Joyce Wieland,Canadian,1931.0,1998.0,Female,1964,Film
9346,Monograph (no. 3),Erin Shirreff,Canadian,1975.0,NaN,Female,2012,Photography
9460,Cue (Act 2),Janice Kerbel,Canadian,1969.0,NaN,Female,2012,Prints & Illustrated Books
11024,Knitting Wool Container,Elizabeth McLennan,Canadian,NaN,NaN,Female,1949,Architecture & Design
15980,SIRENSONG,Jan Peacock,Canadian,1955.0,NaN,Female,1987,Media and Performance Art

In [22]:
pd.to_datetime(cate_1['Date'])

645     1970-01-01 00:00:00.000001968
2669    1970-01-01 00:00:00.000001987
4298    1970-01-01 00:00:00.000002007
4995    1970-01-01 00:00:00.000001973
5772    1970-01-01 00:00:00.000002003
6213    1970-01-01 00:00:00.000001982
9116    1970-01-01 00:00:00.000001964
9346    1970-01-01 00:00:00.000002012
9460    1970-01-01 00:00:00.000002012
11024   1970-01-01 00:00:00.000001949
15980   1970-01-01 00:00:00.000001987
Name: Date, dtype: datetime64[ns]

In [23]:
cate_1['Date'] =pd.to_datetime(cate_1['Date']).copy()

C:\Users\anamn\AppData\Local\Temp\ipykernel_14256\3208321215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cate_1['Date'] =pd.to_datetime(cate_1['Date']).copy()

In [24]:
cate_1

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
645,Handtinting,Joyce Wieland,Canadian,1931.0,1998.0,Female,1970-01-01 00:00:00.000001968,Film
2669,"Frankly, Shirley",Margaret Moores,Canadian,NaN,NaN,Female,1970-01-01 00:00:00.000001987,Media and Performance Art
4298,Remarkable: Barometric Contortionist,Janice Kerbel,Canadian,1969.0,NaN,Female,1970-01-01 00:00:00.000002007,Prints & Illustrated Books
4995,Solidarity,Joyce Wieland,Canadian,1931.0,1998.0,Female,1970-01-01 00:00:00.000001973,Film
5772,Longtime Beauty,Katerina Lanfranco,Canadian,1978.0,NaN,Female,1970-01-01 00:00:00.000002003,Drawings
6213,Some Call It Bad Luck,Lisa Steele,Canadian,1947.0,NaN,Female,1970-01-01 00:00:00.000001982,Media and Performance Art
9116,Peggy's Blue Skylight,Joyce Wieland,Canadian,1931.0,1998.0,Female,1970-01-01 00:00:00.000001964,Film
9346,Monograph (no. 3),Erin Shirreff,Canadian,1975.0,NaN,Female,1970-01-01 00:00:00.000002012,Photography
9460,Cue (Act 2),Janice Kerbel,Canadian,1969.0,NaN,Female,1970-01-01 00:00:00.000002012,Prints & Illustrated Books
11024,Knitting Wool Container,Elizabeth McLennan,Canadian,NaN,NaN,Female,1970-01-01 00:00:00.000001949,Architecture & Design
15980,SIRENSONG,Jan Peacock,Canadian,1955.0,NaN,Female,1970-01-01 00:00:00.000001987,Media and Performance Art

In [25]:
#bol_1 = ['Nationality'] == 'Canadian'  # Both are Boolean series
#bol_2 = ['Gender'] == 'Female'

     # Bitwise '(&)and' operator

In [26]:
# Value_count give 'Frequency Count'(category data mai applicable)
# value_count works on 'series'
work['Department'].value_counts()

Department
Prints & Illustrated Books    7624
Photography                   3948
Architecture & Design         2277
Drawings                      1558
Painting & Sculpture           520
Film                           364
Media and Performance Art      326
Fluxus Collection              108
Name: count, dtype: int64

### Series Operation

In [27]:
myseries = work['Nationality'].value_counts()

In [28]:
myseries

Nationality
American               7444
French                 3042
German                 1141
British                 748
Nationality Unknown     627
                       ...
Tajik                     1
Bahamian                  1
Lebanese                  1
Cambodian                 1
Filipino                  1
Name: count, Length: 82, dtype: int64

In [29]:
myseries.index   # its an attribute # will get in the form of array

Index(['American', 'French', 'German', 'British', 'Nationality Unknown',
       'Italian', 'Spanish', 'Japanese', 'Russian', 'Swiss', 'Dutch',
       'Belgian', 'Mexican', 'Czech', 'Canadian', 'Colombian', 'Brazilian',
       'Austrian', 'Argentine', 'Polish', 'Chilean', 'Various', 'Danish',
       'Venezuelan', 'Israeli', 'Australian', 'South African', 'Cuban',
       'Indian', 'Finnish', 'Swedish', 'Portuguese', 'Croatian', 'Chinese',
       'Hungarian', 'Korean', 'Scottish', 'Yugoslav', 'Peruvian', 'Norwegian',
       'Guatemalan', 'Romanian', 'Costa Rican', 'Uruguayan', 'Greek',
       'Georgian', 'Irish', 'Ukrainian', 'Turkish', 'Latvian', 'Egyptian',
       'Pakistani', 'Thai', 'Luxembourgish', 'Haitian', 'Iranian', 'Sudanese',
       'New Zealander', 'Cameroonian', 'Zimbabwean', 'Ecuadorian', 'Bulgarian',
       'Malian', 'Canadian Inuit', 'Panamanian', 'Vietnamese', 'Slovenian',
       'Icelandic', 'Nigerian', 'Moroccan', 'Kenyan', 'Puerto Rican',
       'Mozambican', 'Palestinian', 'Serbian', 'Angolan', 'Tunisian', 'Tajik',
       'Bahamian', 'Lebanese', 'Cambodian', 'Filipino'],
      dtype='object', name='Nationality')

In [30]:
myseries.values

array([7444, 3042, 1141,  748,  627,  405,  343,  299,  274,  270,  203,
        190,  169,  115,  113,  107,  102,  100,   82,   79,   77,   70,
         67,   57,   52,   46,   45,   36,   34,   32,   32,   27,   27,
         26,   24,   17,   16,   15,   15,   13,   11,   10,    8,    8,
          7,    6,    6,    5,    5,    5,    5,    5,    5,    5,    4,
          4,    3,    3,    3,    3,    3,    2,    2,    2,    2,    2,
          2,    2,    2,    2,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,    1], dtype=int64)

In [31]:
myseries.head()

Nationality
American               7444
French                 3042
German                 1141
British                 748
Nationality Unknown     627
Name: count, dtype: int64

In [32]:
myseries['German']

1141

In [33]:
myseries.sort_values(ascending= False)

Nationality
American               7444
French                 3042
German                 1141
British                 748
Nationality Unknown     627
                       ...
Tajik                     1
Bahamian                  1
Lebanese                  1
Cambodian                 1
Filipino                  1
Name: count, Length: 82, dtype: int64

In [34]:
work.sort_values('Artist',ascending= False)   # whole dataframe will sort on basis this particular column(by default in ascending order)
# If want to do permenent changes then use a parameter (inplace= True) default is False

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
1718,Column No. 4 (IB Affair),Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1974,Prints & Illustrated Books
7270,Simplicity,Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1974,Prints & Illustrated Books
12944,"Sketch for World Map Part 1 (Americas, Pacific)",Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1972,Prints & Illustrated Books
3751,Double page in-text plate (folios 5 verso and ...,Étienne Hajdu,French,1907.0,1996.0,Male,1965,Prints & Illustrated Books
6819,Another World,Éric Chahi,French,1967.0,NaN,Male,1991,Architecture & Design
...,...,...,...,...,...,...,...,...
14782,Inascoltabili Frammenti/Sonori,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1981,Architecture & Design
8829,Sonia Delaunay,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1968,Architecture & Design
16091,28 festival internazionale del teatro di prosa...,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1969,Architecture & Design
14582,Centroquadro Repubblica di San Marino,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1974,Architecture & Design
11359,Alex Mlynarcik poster 29,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1969,Architecture & Design

In [35]:
# Multiple column sort
work.sort_values(['Artist','Date'])

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
8829,Sonia Delaunay,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1968,Architecture & Design
11359,Alex Mlynarcik poster 29,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1969,Architecture & Design
16091,28 festival internazionale del teatro di prosa...,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1969,Architecture & Design
14582,Centroquadro Repubblica di San Marino,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1974,Architecture & Design
10304,Il Giuoco é Fatto,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1980,Architecture & Design
...,...,...,...,...,...,...,...,...
6819,Another World,Éric Chahi,French,1967.0,NaN,Male,1991,Architecture & Design
3751,Double page in-text plate (folios 5 verso and ...,Étienne Hajdu,French,1907.0,1996.0,Male,1965,Prints & Illustrated Books
12944,"Sketch for World Map Part 1 (Americas, Pacific)",Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1972,Prints & Illustrated Books
1718,Column No. 4 (IB Affair),Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1974,Prints & Illustrated Books
7270,Simplicity,Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1974,Prints & Illustrated Books

In [36]:
work.sort_values(['Artist','Date'],ascending= [ True,False])

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
14782,Inascoltabili Frammenti/Sonori,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1981,Architecture & Design
10304,Il Giuoco é Fatto,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1980,Architecture & Design
14582,Centroquadro Repubblica di San Marino,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1974,Architecture & Design
11359,Alex Mlynarcik poster 29,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1969,Architecture & Design
16091,28 festival internazionale del teatro di prosa...,A. G. Fronzoni,Italian,1923.0,2002.0,Male,1969,Architecture & Design
...,...,...,...,...,...,...,...,...
6819,Another World,Éric Chahi,French,1967.0,NaN,Male,1991,Architecture & Design
3751,Double page in-text plate (folios 5 verso and ...,Étienne Hajdu,French,1907.0,1996.0,Male,1965,Prints & Illustrated Books
1718,Column No. 4 (IB Affair),Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1974,Prints & Illustrated Books
7270,Simplicity,Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1974,Prints & Illustrated Books
12944,"Sketch for World Map Part 1 (Americas, Pacific)",Öyvind Fahlström,Swedish,1928.0,1976.0,Male,1972,Prints & Illustrated Books