# Python Data Analysis Project 

#### ***Data is based upon Traffic Police Data,study for making better traffic conditions and reduce the crime.***

 Investigate the distribution of traffic stops based on driver gender, race, and age using a police dataset. By analyzing these factors, we aim to understand any potential patterns or biases in traffic stops, which could inform law enforcement policies and practices.
#### Convert stop_date and stop time columns from object to date and time
#### Search conducted for each age group for Male Female
#### How many people were arrested on each date
#### On which time police is more active
#### How many males and female drivers
#### Find average, min, max age for male and female drivers
#### Check drug activity for both male and female
#### Extract true cases for male and female
#### Total cases for true and false for drugs_related_stop
#### What type of action is taken by police for each date
#### How many times police has given warning as stop outcome
#### Warning cases for male and female
#### How many male and female for each violation
#### Data distribution visualization for driver_age

In [166]:
import pandas as pd

In [167]:
police_df = pd.read_csv("police_ .csv")
police_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [168]:
police_df.shape

(65535, 15)

In [169]:
police_df.dtypes

stop_date              object
stop_time              object
country_name          float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

### Convert stop_date and stop_time columns from object to date_time

In [170]:
police_df['stop_time'] = pd.to_datetime(police_df.stop_time)
police_df['stop_time']

C:\Users\anamn\AppData\Local\Temp\ipykernel_13072\142437565.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  police_df['stop_time'] = pd.to_datetime(police_df.stop_time)

0       2024-02-29 01:55:00
1       2024-02-29 08:15:00
2       2024-02-29 23:15:00
3       2024-02-29 17:15:00
4       2024-02-29 10:00:00
                ...
65530   2024-02-29 17:54:00
65531   2024-02-29 22:22:00
65532   2024-02-29 23:20:00
65533   2024-02-29 00:23:00
65534   2024-02-29 00:30:00
Name: stop_time, Length: 65535, dtype: datetime64[ns]

In [171]:
police_df['stop_date'] = pd.to_datetime(police_df.stop_date)
police_df['stop_date']

0       2005-01-02
1       2005-01-18
2       2005-01-23
3       2005-02-20
4       2005-03-14
           ...
65530   2012-12-06
65531   2012-12-06
65532   2012-12-06
65533   2012-12-07
65534   2012-12-07
Name: stop_date, Length: 65535, dtype: datetime64[ns]

In [172]:
police_df.dtypes

stop_date             datetime64[ns]
stop_time             datetime64[ns]
country_name                 float64
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type                   object
stop_outcome                  object
is_arrested                   object
stop_duration                 object
drugs_related_stop              bool
dtype: object

In [173]:
police_df.columns

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

### Search conducted for each male and female

In [174]:
# Basically grouping data based on 'Gender'
pd.pivot_table(police_df,index=['driver_gender','violation'],values=['driver_age','driver_age_raw','drugs_related_stop','search_conducted'])

                                   driver_age  driver_age_raw  \
driver_gender violation
F             Equipment             31.470588     1977.091039
              Moving violation      34.001872     1971.832400
              Other                 34.073009     1966.455947
              Registration/plates   32.610143     1973.362342
              Speeding              32.164394     1973.645644
M             Equipment             31.740857     1975.620508
              Moving violation      37.336482     1964.068275
              Other                 41.302149     1904.604986
              Registration/plates   32.674953     1973.813160
              Seat belt             30.333333     1981.666667
              Speeding              33.765928     1971.522593

                                   drugs_related_stop  search_conducted
driver_gender violation
F             Equipment                      0.007880          0.058739
              Moving violation               0.008870          0.043417
              Other                          0.006608          0.057269
              Registration/plates            0.004747          0.099684
              Speeding                       0.001711          0.008728
M             Equipment                      0.023633          0.089258
              Moving violation               0.014002          0.061018
              Other                          0.005433          0.044423
              Registration/plates            0.017381          0.140286
              Seat belt                      0.000000          0.000000
              Speeding                       0.006231          0.027198

In [175]:
# min,max,average age of male and female for each violation and how many cases for each age on the basis of violation

In [176]:
pd.pivot_table(police_df,index=['driver_gender','violation'],values= ['driver_age'],aggfunc = "mean")

                                   driver_age
driver_gender violation
F             Equipment             31.470588
              Moving violation      34.001872
              Other                 34.073009
              Registration/plates   32.610143
              Speeding              32.164394
M             Equipment             31.740857
              Moving violation      37.336482
              Other                 41.302149
              Registration/plates   32.674953
              Seat belt             30.333333
              Speeding              33.765928

In [177]:
pd.pivot_table(police_df,index=['driver_gender','violation'],values= ['driver_age'],aggfunc=[max,min,len])

                                         max        min        len
                                  driver_age driver_age driver_age
driver_gender violation
F             Equipment                 73.0       16.0       1396
              Moving violation          82.0       15.0       2142
              Other                     73.0       17.0        454
              Registration/plates       69.0       16.0        632
              Speeding                  84.0       16.0      11686
M             Equipment                 81.0       16.0       5120
              Moving violation          86.0       15.0       9784
              Other                     86.0       16.0       3129
              Registration/plates       74.0       16.0       1611
              Seat belt                 42.0       23.0          3
              Speeding                  88.0       15.0      25517

### How many people were arrested on each date

In [178]:
police_df.groupby('stop_date').is_arrested.value_counts()  # want to find the total unique records with their counts
                                                           # apply value_count to find no.of occurences

stop_date   is_arrested
2005-01-02  False           1
2005-01-18  False           1
2005-01-23  False           1
2005-02-20  True            1
2005-03-14  False           1
                           ..
2012-12-03  False          18
2012-12-04  False          25
2012-12-05  False          17
2012-12-06  False          30
2012-12-07  False           1
Name: count, Length: 4090, dtype: int64

### On which time police is more active

In [179]:
police_df['stop_time'].mean()        # based on how many stops they made and exactly the time for that

Timestamp('2024-02-29 12:03:32.504463360')

In [180]:
# How many males and female drivers are there in data?
police_df['driver_gender'].value_counts()        # it will give the total no.of occurences for male and female

driver_gender
M    45164
F    16310
Name: count, dtype: int64

In [181]:
# Find average min,max age for male and female drivers
police_df.groupby('driver_gender').driver_age.agg(['min','max','mean'])

                min   max       mean
driver_gender
F              15.0  84.0  32.416528
M              15.0  88.0  34.777138

In [182]:
police_df.tail()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
65530,2012-12-06,2024-02-29 17:54:00,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,2012-12-06,2024-02-29 22:22:00,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,2012-12-06,2024-02-29 23:20:00,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,2012-12-07,2024-02-29 00:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,2012-12-07,2024-02-29 00:30:00,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### Check drugs activity for both male and female

In [183]:
# basically want to check how many drugs related stops are there based on male and female.
drug_data = pd.DataFrame(police_df.groupby('driver_gender').drugs_related_stop.value_counts())
drug_data

                                  count
driver_gender drugs_related_stop
F             False               16254
              True                   56
M             False               44702
              True                  462

In [184]:
# Extract True Drug cases for both male and female
pd.DataFrame(police_df.groupby('driver_gender').drugs_related_stop.sum())

               drugs_related_stop
driver_gender
F                              56
M                             462

In [185]:
# Total cases for True and False for drugs_related_stop
pd.DataFrame(police_df['drugs_related_stop'].value_counts())

                    count
drugs_related_stop
False               65017
True                  518

### Action taken by police on each date

In [186]:
# Want to check what type of action taken by police on each date
pd.DataFrame(police_df.groupby('stop_date').stop_outcome.value_counts())

                          count
stop_date  stop_outcome
2005-01-02 Citation           1
2005-01-18 Citation           1
2005-01-23 Citation           1
2005-02-20 Arrest Driver      1
2005-03-14 Citation           1
...                         ...
2012-12-05 No Action          1
2012-12-06 Citation          26
           Warning            3
           N/D                1
2012-12-07 Citation           1

[5965 rows x 1 columns]

### Warning cases for male and female

In [187]:
# want to check how many times police has given a warning as stop_outcome
warning_data = police_df[police_df['stop_outcome'] == 'Warning']
warning_data

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
99,2005-10-03,2024-02-29 08:37:00,NaN,M,1965.0,40.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
108,2005-10-03,2024-02-29 17:00:00,NaN,M,1961.0,44.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,30+ Min,False
168,2005-10-06,2024-02-29 06:30:00,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
260,2005-10-09,2024-02-29 16:00:00,NaN,F,1978.0,27.0,Black,Registration Violation,Registration/plates,False,NaN,Warning,False,0-15 Min,False
281,2005-10-10,2024-02-29 12:05:00,NaN,F,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65490,2012-12-05,2024-02-29 10:46:00,NaN,M,1991.0,21.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
65499,2012-12-05,2024-02-29 23:13:00,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,True,Probable Cause,Warning,False,0-15 Min,True
65514,2012-12-06,2024-02-29 10:37:00,NaN,M,1988.0,24.0,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
65520,2012-12-06,2024-02-29 12:43:00,NaN,M,1953.0,59.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
65531,2012-12-06,2024-02-29 22:22:00,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False

In [188]:
len(police_df[police_df['stop_outcome'] == 'Warning'])  # get the total no.of values

1889

In [189]:
# check warning cases based on male and female
pd.DataFrame(warning_data.groupby('driver_gender').stop_outcome.value_counts())

                            count
driver_gender stop_outcome
F             Warning         517
M             Warning        1372

In [190]:
# How many male and female for each violation
pd.crosstab(police_df['driver_gender'],police_df['violation'])      # want to comapre two and more columns

violation,Equipment,Moving violation,Other,Registration/plates,Seat belt,Speeding
driver_gender,,,,,,
F,1396,2142,454,632,0,11686
M,5120,9784,3129,1611,3,25517

In [191]:
pd.crosstab(police_df['driver_gender'],police_df['violation'],margins=True)

violation,Equipment,Moving violation,Other,Registration/plates,Seat belt,Speeding,All
driver_gender,,,,,,,
F,1396,2142,454,632,0,11686,16310
M,5120,9784,3129,1611,3,25517,45164
All,6516,11926,3583,2243,3,37203,61474

In [192]:
# For speeding, were men or women stopped more often?

In [193]:
police_df[police_df.violation == 'Speeding']

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2024-02-29 01:55:00,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,2024-02-29 08:15:00,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,2024-02-29 23:15:00,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
4,2005-03-14,2024-02-29 10:00:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,2024-02-29 17:30:00,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65527,2012-12-06,2024-02-29 15:26:00,NaN,F,1981.0,31.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65529,2012-12-06,2024-02-29 16:00:00,NaN,M,1994.0,18.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65530,2012-12-06,2024-02-29 17:54:00,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,2012-12-06,2024-02-29 22:22:00,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65534,2012-12-07,2024-02-29 00:30:00,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [194]:
# Value_count and shows total of each
police_df[police_df.violation == 'Speeding'].driver_gender.value_counts()

driver_gender
M    25517
F    11686
Name: count, dtype: int64

In [195]:
# groupby: make a group of each unique values present in column.
# Does gender affect who gets searched during a stop?
# driver_gender and Search_conducted

In [196]:
police_df.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2024-02-29 01:55:00,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,2024-02-29 08:15:00,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [197]:
police_df.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [198]:
police_df.search_conducted.value_counts()   # true means we conducted search

search_conducted
False    63056
True      2479
Name: count, dtype: int64

In [199]:
# What is the mean stop_duration?       # first will perfrom typecasting
police_df.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2024-02-29 01:55:00,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,2024-02-29 08:15:00,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [200]:
police_df.stop_duration.value_counts()       # It give total of all unique categories

stop_duration
0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: count, dtype: int64

In [201]:
# For getting the mean will do typecating ,will take average first          # 16+30/2   #30+60/2
police_df['stop_duration'] = police_df['stop_duration'].map({'0-15 Min':7.5,'16-30 Min':23,'30+ Min':45}) 
police_df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2024-02-29 01:55:00,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,2005-01-18,2024-02-29 08:15:00,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
2,2005-01-23,2024-02-29 23:15:00,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
3,2005-02-20,2024-02-29 17:15:00,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,23.0,False
4,2005-03-14,2024-02-29 10:00:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2012-12-06,2024-02-29 17:54:00,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
65531,2012-12-06,2024-02-29 22:22:00,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,7.5,False
65532,2012-12-06,2024-02-29 23:20:00,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,7.5,False
65533,2012-12-07,2024-02-29 00:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,2012-12-07,2024-02-29 00:30:00,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False

In [202]:
police_df['stop_duration'].mean()

12.001195627419722

In [203]:
# groupby and describe (describe= statistics functions)
# Compare the age distribution for each violation.

In [204]:
police_df.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0